<mat-card>
    <mat-card-header>
      <mat-card-title>New Account</mat-card-title>
      
    </mat-card-header>
  
    <mat-card-content>
      <!-- Add content for the card body here -->
      <!--[formGroup]="newAccount" -->
      <div class="d-flex flex-column">
            
         <!--   <mat-form-field appearance="outline">
                <mat-label>Account Id</mat-label>
                <input matInput formControlName="accountid">
            </mat-form-field>-->
            <div>
              <label for="account" class="label-style" >Account Name</label>
                <input class="input-style input-style:focus" id="account" type="text" [(ngModel)]="accountname" name="accountname" >
              </div>
            <button class="btn btn-primary submit my-2" (click)="onSubmit()">Submit</button>
              
            <p class="error">{{errorMsg}}</p>
      </div>

    </mat-card-content>
  
   
  </mat-card>