<body>
    <!-- <mat-toolbar>
        <img src="./assets/img/Asset1.png" class="justify-content-center align-items-center mx-2" style="width: 50px; height: 50px;">
        <h1 class="mb-0">Bariflo Labs</h1>
    </mat-toolbar> -->
    <!-- <section class="container vh-80 ">
        <div class="d-flex flex-column justify-content-center">
        
            <mat-card class="col-lg-6 col-12 mt-5">
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <hr>
                <mat-card-content>
                    <p class="errorColor" *ngIf="errorMsg">* Invalid Credentials</p>
                    <form  [formGroup]="loginForm">
                        <mat-form-field class="col-12" [hideRequiredMarker]="true">
                            <mat-label>MobileNo</mat-label>
                            <input matInput placeholder="Mobile No" type="number"  formControlName="mobileno" required>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="col-12" [hideRequiredMarker]="true">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Password" formControlName="password" required>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>

                       
                    </form>
                </mat-card-content>
            </mat-card>
            <h1 class="register">Don't have an Account? <a href="register-page">Register </a>here</h1>
        </div>

    </section> -->

    <div class="card-container" >
        <div class="container-border d-flex flex-column ">
            <div class="d-flex justify-content-center mt-4">
            <div class="d-flex flex-column text-center mt-4">
                <div class="d-flex justify-content-center">
                <div class="circle" >
       
                    <video [muted]="true" autoplay playsinline loop style="width: 60px; height:60px;border-radius: 30px; " class="ml-5">
                        <source src="./assets/img/Logo-Bariflo.mp4" type="video/mp4">
                       </video>
                </div>
            </div>
                <h1 class="mt-3 mat-head">Sign In</h1>
                <p>Use your Bariflo Aqua Culture Account</p>
            </div>

        </div>
        <div class=" d-flex flex-row justify-content-center mt-4">
            <form class="email-input">
            <input required='' type='text' [(ngModel)]="mobileno" name="mobileno">
            <label alt='Phone number or email' placeholder='Phone number or email'></label>
            </form>
        </div>
        <p class="error">{{error}}</p>
        <div  class="mt-2 mx-5 ">
        <a class="underline forgot hover-underline-animation" href="">Forgot Email?</a>
         </div>

         <!-- <div class="d-flex flex-row justify-content-between mx-5 my-5">
            <div class="d-flex flex-row">
            <div class="mt-2">    
            <a class="underline forgot hover-underline-animation" href="register">Show your interest</a>
        </div>
            
               <img src="./assets/img/Right-Arrow.gif" class="logo-sizing">
        </div>
        <div> -->
            <div class="d-flex flex-row justify-content-between mx-5 my-5">
                <div class="d-flex flex-row">
                <div class="d-flex align-items-center mt-2">  
                <div>
                    <img src="./assets/img/animation_small.gif" class="logo-sizing mt-0">
                    <!-- <video [muted]="true" autoplay playsinline loop style="width: 50px; height:50px;  ">
                        <source src="./assets/img/animation_hand.mp4" type="video/mp4">
                    </video>  -->
                </div>  
                <a class="underline forgot hover-underline-animation" href="">Show your interest</a>
                </div>
                <!-- <video [muted]="true" autoplay playsinline loop style="width: 50px; height:50px;  ">
                    <source src="./assets/img/Right-Arrow.gif" type="video/mp4">
                   </video> -->
                   <img src="./assets/img/Right_Arrow.gif" class="logo-sizing">
                </div>
            <div>
                <button class="hover-button mt-2" (click)="onMobileNext()">Next</button>

        </div>
         </div>



        </div>

        

    </div>
<!-- 
    <div class="contriner-password">

        <div class="second-contrainer mt-4">
      
          <img src="./assets/img/bariflo.PNG" class="logo-sizing mt-4" alt="bariflo"/>
          <h1 class="mt-3 mat-head">Log In</h1>
          <p> to continue with Bariflo Labs</p>
      
          
      
         
      
          <div class='password-element'>
      
            <input required='' type='text'  >
      
            <label alt='Enter your Password' placeholder='Type your password'></label>
      
          </div>
      
       
    
       
      
           
      
       
      
        </div>
      
       
      
      </div>
   -->
</body>
