<mat-card>
    <mat-dialog-content>
        <div class="form-wrapper" >
            <div class="mobileForm">
              <p class="delete-account">Delete Account</p>
              <p class="delete-confirm">Are you sure to delete the account permanently?</p>
              <div class="delete-confirm-account">
                <button class="yes-buttton-delete" (click)="confirmUserDelete()">
                  Yes
                </button>
                <button class="No-buttton-delete" (click)="closeUserDelete()">
                  NO
                </button>
              </div>
              </div>
              </div>

</mat-dialog-content>
</mat-card>
